OLLAMA_API_KEY=ollama
GROQ_API_KEY=gsk_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GOOGLE_CLIENT_ID=XXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-XXXXXXXXXXXXXXXXXXXXXXXXX
GOOGLE_REFRESH_TOKEN=1//XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GOOGLE_CALENDAR_ID=primary
GOOGLE_CALENDAR_IDS=your@email.com,other@gmail.com
GOOGLE_CALENDAR_NAMES="Michi,Janine,Joris,Nele,Familie,Hans,Geburtstage Minks,Müll"
